/* src/styles/NuestrosProductos.module.css */

.nuestrosProductosSection {
    position: relative;
    background-color: #fef9f3; /* Color de fondo blanco */
    padding: 100px 20px; /* Espaciado alrededor de la sección */
    color: #333; /* Color de texto oscuro para contraste */
}

.nuestrosProductosOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Para crear un efecto oscuro, si es necesario */
    transition: background 0.3s ease-in-out; /* Transición de suavizado */
}

.nuestrosProductosContent {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima del overlay */
    text-align: center; /* Centra el texto dentro del contenido */
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido */
    padding: 20px; /* Espaciado interno */
}

.nuestrosProductosContent h1 {
    font-size: 3rem; /* Tamaño del título */
    color: #333; /* Color del texto del título */
    margin-bottom: 20px; /* Espaciado inferior del título */
}

.nuestrosProductosContent p {
    font-size: 1.25rem; /* Tamaño del texto */
    line-height: 1.6; /* Altura de línea */
    color: #333; /* Color del texto */
}

/* Responsividad */
@media (max-width: 768px) {
    .nuestrosProductosContent h1 {
        font-size: 2rem; /* Tamaño del título en móviles */
    }

    .nuestrosProductosSection {
        padding: 50px 10px; /* Menos espaciado en móviles */
    }

    .nuestrosProductosContent p {
        font-size: 1rem; /* Tamaño de texto en móviles */
    }
}
